<style>
BODY{font-family:arial,helvetica; font-size: 10pt; color: white;}
.bigblue{font-family:arial,helvetica; font-weight: bold; font-size: 64pt; color: blue}
.bigwhite{font-family:arial,helvetica; font-weight: bold; font-size: 56pt; color: white}
.bigblack{font-family:arial,helvetica; font-weight: bold; color: black; font-size: 72pt}
.link{color:red; letter-spacing:6pt; text decoration: bold; cursor: hand; }
</style>
