<h1>Contact us</h1>

<section class="fifty-fifty">
  <article>
          <p><i class="fa fa-phone"></i> <a href="tel:+61488016867">0488 016 867</a></p>
          <p><i class="fa fa-external-link"></i> <a href="http://au.linkedin.com/pub/julie-aldridge/26/b51/93a">LinkedIn</a></p>
          <p><address><i class="fa fa-map-marker"></i>Avide Pty Ltd<br>Suite 5.1, 363 Hogbin Drive,<br>Coffs Harbour NSW 2450, Australia</address></p>
          <p><i class="fa fa-building-o"></i> <a href="http://abr.business.gov.au/SearchByAbn.aspx?SearchText=88143704296">ABN</a>: 88 143 704 296</p>
  </article>
  <aside>
    <div class="email-form">
      <form id="contact" action="" method="post">
        <h3>Email us</h3>
        <h4>How can we help you?</h4>
        <fieldset>
          <input placeholder="Your name" type="text" tabindex="1" required autofocus name="yourname" pattern=".*">
        </fieldset>
        <fieldset>
          <input placeholder="Your Email Address (e.g. you@your.workemail.com)" type="email" tabindex="2" required name="youremail" pattern="^\S+@\S+\.\S+$">
        </fieldset>
        <fieldset>
          <input placeholder="Your Phone Number (e.g. +61 0400 000 000)" type="tel" tabindex="3" name="yourphone" pattern="^([+]?)[0-9a-zA-Z -]{8,}$">
        </fieldset>
        <fieldset>
          <input placeholder="Your website - http://" type="url" tabindex="4" name="yourwebsite" pattern="https?://.+">
        </fieldset>
        <fieldset>
          <textarea placeholder="Type your message here...." tabindex="5" required name="yourmessage"></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
        <div id="confirm"></div>
      </form>
    </div>
  </aside>
</section>